/* VARIABLES */
:root {
  --Slightly-Desaturated-Cyan: #5fb4a2;
  --Dark-Blue: #203a4c;
  --Grayish-Dark-Blue: #33323d;
  --Very-Light-Grey-bg: #fafafa;
  --Light-Grey-Text-Field: #eaeaeb;
  --Bright-Red-Errors: #f43030;
}